//-//////////////////////////////////////////////////////
//-                 INCLUDES/EXTENDS
//-//////////////////////////////////////////////////////
include _formatText
include _metadata
include _utils

//-//////////////////////////////////////////////////////
//-                 MAIN CONTENT
//-//////////////////////////////////////////////////////
mixin addAnswer(answer, includeQuestion=false)
  article.answer
    //- ABOUT AUTHOR
    .metadata-primary
      p.metadata-primary__heading
        if answer.author.isAnon
          span Anonymous
        else
          a.link.metadata-primary__link(href=answer.author.url)= answer.author.name
        if answer.author.isVerified
          svg.icon.metadata-primary__icon
            title verified
            use(href='/misc/sprite.svg#icon-verified')
      +proxifyImg(answer.author.image)(class='metadata-primary__image', alt='', aria-hidden='true')
      p.metadata-primary__misc(aria-label=`${answer.author.name}'s credentials`)= answer.author.credential || ''

    //- ORIGINAL QUESTION
    if includeQuestion
      p.answer__question.heading.heading__tertiary
        span Answered to&nbsp;
        a.answer__link.answers__link(href=answer.question.url)
          +spansChecker(answer.question.text[0].spans)
    else if answer.originalQuestion
      p.answer__question.heading.heading__tertiary
        span Originally answered to&nbsp;
        a.answer__link.answers__link(href=answer.originalQuestion.url)
          +spansChecker(answer.originalQuestion.text[0].spans)

    //- ANSWER
    section.answer__text.text__container
      +formatText(answer.text)
      //- for quora plus answers. since quora only shows half answer, we gotta warn viewer.
      unless answer.isViewable
        p.answer__unviewable
          svg.icon.answer__icon: use(href='/misc/sprite.svg#icon-danger')
          | This is a Quora plus answer and hence full answer is not viewable.

    //- ANSWER METADATA
    section.answer__metadata-secondary.metadata-secondary
      +addMetadataSecondary('clock', 'Answered', answer.creationTime, 'date')
      if answer.updatedTime
        +addMetadataSecondary('clock-edit', 'Updated', answer.updatedTime, 'date')
      +addMetadataSecondary('eye', 'Views', answer.numViews)
      +addMetadataSecondary('arrow-up', 'Upvotes', answer.numUpvotes)
      +addMetadataSecondary('comments', 'Comments', answer.numComments)
      +addMetadataSecondary('share', 'Shares', answer.numShares)
