//-//////////////////////////////////////////////////////
//-        SMALL MIXINS THAT ARE USED IN MANY PLACES
//-//////////////////////////////////////////////////////

mixin addDate(date, className='')
  - const dateObj = new Date(date / 1000);
    time(class= className, datetime= dateObj.toISOString(), title=dateObj.toUTCString())= Intl.DateTimeFormat('en-US', {year: '2-digit', month: 'short', day: 'numeric' }).format(dateObj)

mixin formatNumber(number, className='')
  span(class=className)= new Intl.NumberFormat().format(number)

mixin proxifyImg(imgUrl)
  img(src=imgUrl.replace('https://', '/api/v1/image/'), loading='lazy')&attributes(attributes)

mixin quetrefyUrl(url, text)
  - 
    let link;
    const acceptedLanguages=['en','es','fr','de','it','ja','id','pt','hi','nl','da','fi','nb','sv','mr','bn','ta','ar','he','gu','kn','ml','te','po',];
    try {
      link = new URL(url);
      const subdomain = link.hostname.split('.')[0];
      if (!link.hostname.includes('quora.com')) link = url; 
      else if (subdomain === 'www') return link.pathname;
      else if (acceptedLanguages.includes(subdomain)) link = `${link.pathname}?lang=${subdomain}`;
      else link = `/space/${subdomain}${link.pathname}`;
    } catch {
      link = url;
    }
  
  a(href=link)&attributes(attributes)= text

mixin quorafyUrl(url)
  -
    const link = new URL(url, 'https://www.quora.com');
    const lang = link.searchParams.get('lang');
    const match = /(?<=^\/space\/)([^\/]+)\/(.*)$/.exec(link.pathname); // taking space name and rest of pathname out.
    if(lang) {
      link.hostname = `${lang}.quora.com`;
      link.searchParams.delete('lang');
    } else if(match) {
      link.hostname = `${match[1]}.quora.com`;
      link.pathname = match[2];
    }
  
  a(href=link.href, rel='noreferrer', target='_blank')&attributes(attributes) View on Quora