doctype html
html(lang='en')
  // see the full source code on github in case you're interested. 
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //- appending title to name in case it exists, else showing name as the title of the page
    - const pageTitle = meta.title ? `${meta.title} | Quetre`: 'Quetre'
    title= pageTitle
    meta(name="description", content=meta.description)
    //- preloading css and fonts for performance gains
    link(rel='preload', href='/fonts/WorkSans.woff2', as='font', type='font/woff2', crossorigin)
    link(rel='preload', href='/fonts/Quicksand.woff2', as='font', type='font/woff2', crossorigin)
    link(rel='preload stylesheet', href='/css/styles.css', as='style', crossorigin)
    //- favicons & theme color
    meta(name="theme-color", media="(prefers-color-scheme: light)", content="#e3f6f5")
    meta(name="theme-color", media="(prefers-color-scheme: dark)", content="#0f0d1c")
    link(rel="icon", href="/icon.svg", type="image/svg+xml")
    link(rel='icon', href='/favicon.ico', sizes='any')
    link(rel="apple-touch-icon", href="/apple-touch-icon.png")
    link(rel="manifest", href="/site.webmanifest")
    //- some seo stuff
    meta(property='og:url', content=meta.url)
    meta(property='og:type', content='website')
    meta(property='og:title', content=meta.title)
    meta(property='og:description', content=meta.description)
    meta(property='og:image', content=meta.imageUrl)
    meta(name='twitter:card', content='summary_large_image')
    meta(property='twitter:url', content=meta.url)
    meta(name='twitter:title', content=pageTitle)
    meta(name='twitter:description', content=meta.description)
    meta(name='twitter:image', content=meta.imageUrl)
    //- own script
    script(src='/js/index.js', defer)

  //- initially setting this var to false. will update in case an answer contains some math expression
  - let someAnswerContainsMath = false;

  body.body
    -if (meta.title !=='About')
      a.skip-link(href="#main") Skip to main content

    //- MAIN CONTENT GOES HERE
    include layout/_header
    block content 
    include layout/_footer

    //- including mathjax script only when some answer has math expressions(using the var from above)
    if someAnswerContainsMath
      script#MathJax-script(
        type='text/javascript', 
        src='/public/js/mathjax/tex-chtml.js',
        async
      )
