//-//////////////////////////////////////////////////////
//-                 INCLUDES/EXTENDS
//-//////////////////////////////////////////////////////
include ../mixins/_formatText.pug

//-//////////////////////////////////////////////////////
//-                LOCAL HELPER MIXINS
//-//////////////////////////////////////////////////////
//- mixin to format date and stuff
mixin addDate(date)
  - const dateObj = new Date(date / 1000);
    time.answer__metadata-data(datetime= dateObj.toISOString(), title=dateObj.toUTCString())= Intl.DateTimeFormat('en-US', {year: '2-digit', month: 'short', day: 'numeric' }).format(dateObj)


//-//////////////////////////////////////////////////////
//-                 MAIN CONTENT
//-//////////////////////////////////////////////////////
article.answer
  //- ABOUT AUTHOR
  figure.answer__author
    figcaption.answer__author-name
      if answerObj.author.isAnon
        span Anonymous
      else
        a.answers__link(href=answerObj.author.profile)= answerObj.author.name 
      if answerObj.author.isVerified
        svg.answer__icon
          title verified
          use(href='/misc/sprite.svg#icon-verified')
    img.answer__author-image(src=answerObj.author.avatar.replace('https://', "/api/v1/image/"), alt=`${answerObj.author.name}'s profile photo`, loading='lazy')
    p.answer__author-credentials(aria-label=`${answerObj.author.name}'s credentials`)= answerObj.author.credential || ''

  //- ORIGINAL QUESTION
  h3.answer__question.heading.heading__tertiary
    span Originally answered to&nbsp;
    a.answer__link.answers__link(href=answerObj.originalQuestion.url)
      +spansChecker(answerObj.originalQuestion.text[0].spans)

  //- ANSWER
  .answer__text
    +formatText(answerObj.text)
    //- for quora plus answers. since quora only shows half answer, we gotta warn viewer.
    unless answerObj.isViewable
      p.answer__unviewable
        svg.answer__icon: use(href='/misc/sprite.svg#icon-danger')
        | This is a Quora plus answer and hence full answer is not viewable.

  //- ANSWER METADATA
  .answer__metadata
    p.answer__metadata-item
      svg.answer__icon: use(href='/misc/sprite.svg#icon-clock')
      +addDate(answerObj.creationTime)
      span.answer__metadata-text &nbsp;Answered
    if answerObj.updatedTime
      p.answer__metadata-item 
        svg.answer__icon: use(href='/misc/sprite.svg#icon-clock-edit')
        +addDate(answerObj.updatedTime)
        span.answer__metadata-text &nbsp;Edited
    p.answer__metadata-item
      svg.answer__icon: use(href='/misc/sprite.svg#icon-eye')
      span.answer__metadata-data= answerObj.numViews
      span.answer__metadata-text &nbsp;Views
    p.answer__metadata-item
      svg.answer__icon: use(href='/misc/sprite.svg#icon-arrow-up')
      span.answer__metadata-data= answerObj.numUpvotes
      span.answer__metadata-text &nbsp;Upvotes
    p.answer__metadata-item
      svg.answer__icon: use(href='/misc/sprite.svg#icon-comments')
      span.answer__metadata-data= answerObj.numComments
      span.answer__metadata-text &nbsp;Comments
    p.answer__metadata-item
      svg.answer__icon: use(href='/misc/sprite.svg#icon-share')
      span.answer__metadata-data= answerObj.numShares
      span.answer__metadata-text &nbsp;Shares
